.Titre{
    color:blue;
	text-align:center;
}
.FORMATION{
	color:red;
	text-align:left;
}
.STAGES{
	color:green;
	text-align:right;
}
.Langues{
	color:blue;
	text-align:left;
}
.DIVERS{
	color:red;
	text-align:right;
}
