.Eta{
    color:blue;
	text-align:center;
}
.form{
	color:red;
	text-align:left;
}
.exp{
	color:green;
	text-align:right;
}
.larg{
	color:blue;
	text-align:left;
}
.div{
	color:red;
	text-align:right;
}
